*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
/* header */
.top_line {
  display: flex;
  height: 80px;
}
.nav_left {
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.nav_left ul {
  display: flex;
  width: 294px;
  flex-direction: row;
  align-items: center;
  margin-left: 93px;
  justify-content: space-between;
  padding: 0;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  margin-left: 215px;
}

.blue {
  color: #2196f3;
}
.nav_right {
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 331px;
  margin-right: 0px;
  font-size: 14px;
  font-weight: 500;
}

/* section */
h2 {
  color: #ffffff;
}
.button {
  display: flex;
}

.button_link {
  display: flex;
}

.link {
}
/* footer */
.footer {
}
