*,
*::before,
*::after {
  box-sizing: border-box;
}
/* background color body #FFFFFF
 background color section #E5E5E5
 color primary text #757575
 coloe title text #212121
 background color hero hw1 #2F303A 
 color link #212121
 link hover #2196F3
 color contact #757575
 contact hover #2196F3 */

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", "Raleway", sans-serif;
}
ul {
  list-style: none;
}
:root {
  --text-primary-color: #757575;
  --text-title-color: #212121;
  --text-nav-color: #2196f3;
}
/* logo nav and footer */
.logo {
  color: #000000;
}
.logo .blue {
  color: var(--text-nav-color);
}
/* site list */
.site-list .link {
  color: var(--text-title-color);
}
.site-list .link:hover,
.site-list .link:focus {
  color: var(--text-nav-color);
}
/* contact */
.contact .list {
  color: var(--text-primary-color);
}
.contact .list:hover,
.contact .list:focus {
  color: var(--text-nav-color);
}
/* main hero */
.hero {
  background-color: #2f303a;
  color: #ffffff;
}
/* main benefits */
.benefits h3 {
  color: var(--text-title-color);
}
/* main work */
.work,
.team h2 {
  color: var(--text-title-color);
}
/* main team */
.team .list > p:nth-child(1) {
  color: var(--text-title-color);
}
